.l-main {
  max-width: 1260px;
  margin: 0 auto;
  padding-top: var(--space-lg);
  border-radius: var(--border-radius--lg);
}

.c-page__interior.l-main {
  background: var(--secondary-background);
  margin-bottom: var(--space-lg);
  padding-right: var(--space-2xl);
  padding-bottom: var(--space-2xl);
  padding-left: var(--space-2xl);
}

.l-footer {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xl);
}

.content-wrapper {
  max-width: var(--max-width);
  padding: 0 var(--space);
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 768px) {
  .content-wrapper {
    padding: 0 var(--space-xl);
  }
}

.c-link {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
