.l-grid-item {
}

.l-grid-item__column-start--1 {
  grid-column-start: 1;
}

.l-grid-item__column-start--2 {
  grid-column-start: 2;
}

.l-grid-item__column-start--3 {
  grid-column-start: 3;
}

.l-grid-item__column-start--4 {
  grid-column-start: 4;
}

.l-grid-item__column-start--5 {
  grid-column-start: 5;
}

.l-grid-item__column-start--6 {
  grid-column-start: 6;
}

.l-grid-item__column-start--7 {
  grid-column-start: 7;
}

.l-grid-item__column-start--8 {
  grid-column-start: 8;
}

.l-grid-item__column-start--9 {
  grid-column-start: 9;
}

.l-grid-item__column-start--10 {
  grid-column-start: 10;
}

.l-grid-item__column-start--11 {
  grid-column-start: 11;
}

.l-grid-item__column-start--12 {
  grid-column-start: 12;
}

.l-grid-item__column-start--13 {
  grid-column-start: 13;
}

.l-grid-item__column-start--negOne {
  grid-column-start: -1;
}

.l-grid-item__column-end--1 {
  grid-column-end: 1;
}

.l-grid-item__column-end--2 {
  grid-column-end: 2;
}

.l-grid-item__column-end--3 {
  grid-column-end: 3;
}

.l-grid-item__column-end--4 {
  grid-column-end: 4;
}

.l-grid-item__column-end--5 {
  grid-column-end: 5;
}

.l-grid-item__column-end--6 {
  grid-column-end: 6;
}

.l-grid-item__column-end--7 {
  grid-column-end: 7;
}

.l-grid-item__column-end--8 {
  grid-column-end: 8;
}

.l-grid-item__column-end--9 {
  grid-column-end: 9;
}

.l-grid-item__column-end--10 {
  grid-column-end: 10;
}

.l-grid-item__column-end--11 {
  grid-column-end: 11;
}

.l-grid-item__column-end--12 {
  grid-column-end: 12;
}

.l-grid-item__column-end--13 {
  grid-column-end: 13;
}

.l-grid-item__column-end--negOne {
  grid-column-end: -1;
}

/* sets all Grid items to full width on mobile screens */
@media all and (max-width: 468px) {
  .l-grid-item {
    grid-column: 1 / -1;
  }
}
