.c-modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 50%;
  min-height: 50%;
  background-color: var(--c-black-300);
  box-shadow: 0 0 51.1px 18.9px rgba(11, 12, 16, 0.7);
  transform: translate(-50%, -50%);
  padding: var(--space-lg);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.c-modal__heading {
  cursor: pointer;
}

.c-modal__close {
  position: absolute;
  top: var(--space-lg);
  right: var(--space-lg);
  transform: rotate(45deg);
  cursor: pointer;
}
