/* Animated Header */

.c-animated-header {
  display: flex;
  flex-direction: column;
  line-height: 70px;
}

@media all and (max-width: 575px) {
  .c-animated-header {
    font-size: var(--font-size-5xl);
    line-height: 55px;
  }
}

/* Container for textOne and Rotate Text */
.c-animated-header .c-animated-header--content {
  transform: translateX(-11%);
}

/* Rotate Text before styles for content and textOne */
.c-animated-header.c-animated-header--rotate-before
  .c-animated-header--content {
  transform: translateX(0);
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space);
}

@media all and (max-width: 575px) {
  .c-animated-header.c-animated-header--rotate-before
    .c-animated-header--content {
    grid-template-rows: repeat(2, 1fr);
  }
}

.c-animated-header--rotate-before .c-animated-header__text-one {
  grid-column: 2 / 3;
  justify-self: start;
}

@media all and (max-width: 575px) {
  .c-animated-header--rotate-before .c-animated-header__text-one {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center;
  }
}

/* When rotate header has textOne, rotateText, Textwo
   Helps create a new line for rotateText when needed
*/
@media all and (max-width: 786px) {
  .c-animated-header.c-animated-header--all-rows .c-animated-header--content {
    transform: translateX(0);
    padding-bottom: 70px;
  }
}

@media all and (max-width: 575px) {
  .c-animated-header.c-animated-header--all-rows .c-animated-header--content {
    transform: translateX(0);
    padding-bottom: 55px;
  }
}

/* When there is only textOne and rotateText, pushes rotate text to a new */
.c-animated-header--rotate-newline .c-animated-header--content {
  transform: translateX(0);
  padding-bottom: 82px;
}

@media all and (max-width: 786px) {
  .c-animated-header--rotate-newline .c-animated-header--content {
    padding-bottom: 80px;
  }
}

@media all and (max-width: 575px) {
  .c-animated-header--rotate-newline .c-animated-header--content {
    padding-bottom: 55px;
  }
}

/* Stylings for rotateText */
.c-animated-header--rotate {
  position: absolute;
  display: inline;
  opacity: 0;
  animation: rotateText 12s linear infinite;
  color: var(--c-primary);
  text-indent: 10px;
}

/* Stylings for rotateText before */
.c-animated-header--rotate-before .c-animated-header--rotate {
  right: 0;
  grid-column: 1 / 2;
}

@media all and (max-width: 575px) {
  .c-animated-header--rotate-before .c-animated-header--rotate {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    right: 25%;
  }
}

/* Stylings for rotateText for all rows (when textOne, rotateText, and textTwo are filled) */
@media all and (max-width: 786px) {
  .c-animated-header--all-rows .c-animated-header--rotate {
    bottom: 0;
    width: 100%;
    left: 0;
    transform: translateX(-50%);
  }
}

/* Stylings for rotateText newLine (when only textOne and rotateText are populated */
.c-animated-header--rotate-newline .c-animated-header--rotate {
  bottom: 0;
  width: 100%;
  left: 0;
  transform: translateX(-50%);
}

@media all and (max-width: 575px) {
  .c-animated-header--rotate-newline .c-animated-header--rotate {
    text-indent: 0;
    font-size: var(--font-size-4xl);
  }
}

/* Aniamtiones for rotate text. */
.c-animated-header--rotate:nth-child(2) {
  animation-delay: 4s;
}

.c-animated-header--rotate:nth-child(3) {
  animation-delay: 8s;
}

@keyframes rotateText {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: translateY(-10px) skewX(-5deg);
  }
  3% {
    opacity: 1;
    transform: translateY(0px);
  }
  27% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(10px) skewX(3deg);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
