/* Hide the default checkbox */

/* Create a mask for the checkbox */
.c-checkbox {
  position: relative;
  display: block;
  width: 23px;
  height: 23px;
  background-color: #eee;
  border-radius: 4px;
}

.c-checkbox__input {
  position: absolute;
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
  margin: 0;
  z-index: 100;
  display: block;
  width: 100%; /* 1 */
  height: 100%; /* 1 */
  cursor: pointer;
  opacity: 0; /* 2 */
}

.c-checkbox__custom-check {
  position: absolute;
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
}

/* Create a pseudo-element to display the checkmark */
.c-checkbox__custom-check::before {
  content: '';
  position: absolute;
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
  display: block;
  border: 2px solid #999;
  border-radius: 4px;
  /* opacity: 0; */
  transition: opacity 0.2s ease-in-out;
}

.c-checkbox--checked .c-checkbox__custom-check::before {
  border: 1px solid var(--c-purple-500);
}

.c-checkbox__custom-check::after {
  content: '';
  position: absolute;
  top: 3px; /* 1 */
  left: 4px; /* 1 */
  display: block;
  width: 12px;
  height: 8px;
  border: solid; /* 2 */
  border-width: 0 0 4px 4px; /* 2 */
  border-color: var(--c-purple-500); /* 2 */
  border-top-color: transparent; /* 2 */
  transform: rotate(-50deg); /* 2 */
  opacity: 0; /* 3 */
}

.c-checkbox--checked .c-checkbox__custom-check::after {
  opacity: 1; /* 1 */
}

/* Show the checkmark when the checkbox is checked */
/* .c-checkbox input[type='checkbox']:checked + span::before {
  opacity: 1;
  background-color: #fff;
} */
