/* Logo */
.c-logo {
  margin-bottom: var(--space-2xl);
  display: inline-block;
  margin-top: calc(var(--space-3xl) * -1);
  position: relative;
  z-index: 9999;
}
.c-logo--small {
  margin-top: calc(var(--space-xl) * -1);
}

.c-page__interior .c-logo {
  width: 375px;
  margin-bottom: var(--space-xl);
}

.c-logo img {
  max-width: 100%;
  height: auto;
}
