/* Button */

.c-button {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  color: #fff;
  text-align: center;
  border-radius: var(--border-radius--sm);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font: inherit;
  font-weight: var(--font-semibold);
}

.c-button--primary {
  background-color: var(--c-primary);
}

.c-button--primary:hover {
  filter: brightness(85%);
}
