/* Card */

.c-card__container {
  padding: var(--space-xl) 0;
}

.c-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2lg);
  padding: var(--space-2lg);
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);
  text-align: center;
}

.c-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-2lg);
}

.c-card__icon img {
  width: 70px;
}

.c-card__content {
  padding: 0 43px;
}
