/* Card */

.c-card__container {
  padding: var(--space-xl) 0;
  justify-items: center;
}

.c-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
  padding: var(--space-xl);
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);
  text-align: center;
}

.c-card__icon {
  flex-grow: 1;
}

.c-card__title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-bold);
}

.c-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding: 0 43px;
}

.c-card.c-card--large {
  max-width: 1000px;
  padding: var(--space-2xl);
}

.c-card.c-card--large .c-card__title {
  font-size: var(--font-size-4xl);
}

.c-card.c-card--large .c-card__content {
  max-width: 336px;
  width: 100%;
  padding: 0;
}

.c-card.c-card--large .c-button {
  font-size: var(--font-size-xl);
  font-weight: var(--font-normal);
}
