
.c-find-friends__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.c-find-friends__card {
  text-align: left;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.c-find-friends__card .c-card__title {
  margin-top: var(--space);
  font-size: var(--font-size-xl);
}

.c-find-friends__card .c-card__content {
  align-items: flex-start;
  gap: var(--space-md);
  padding: 0;
}

.c-find-friends__card .c-button {
  text-align: center;
  margin-top: var(--space-lg);
}

@media all and (min-width: 768px) {
  .c-find-friends__grid {
    gap: var(--space-lg);
  }
  .c-find-friends__card .c-card__content {
    padding: 10px 20px;
  }
}