/* Mastodon Explainer */

.c-explainer--content {
  padding-top: var(--space-2xl);
  padding-right: var(--space-lg);
  padding-bottom: var(--space-2xl);
  padding-left: var(--space-lg);
  margin-bottom: var(--space-2xl);
  background-color: var(--primary-background);
}

.c-explainer--content > * {
  max-width: 900px;
  margin: var(--space-lg) auto 0;
}

.c-explainer--content .u-heading--lg {
  margin-top: var(--space-4xl);
}

.c-explainer--content p {
  font-size: var(--font-size-xl);
}

.c-explainer--content > figure {
  display: flex;
  justify-content: center;
  margin-top: var(--space-lg);
}

.c-explainer--content img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.c-explainer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.c-explainer__list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media all and (max-width: 900px) {
  .c-explainer__list-item {
    display: flex;
    flex-direction: column;
  }
}

.c-explainer__list-item figure {
  flex-shrink: 0;
}

.c-explainer__list-item p {
  flex: 1 0 auto;
  text-align: center;
}

.c-button--explainer {
  display: block;
  max-width: 462px;
  margin: 0 auto;
}
