.c-profile-box {
  background-color: var(--c-gray);
  padding: var(--space-3xl) var(--space-3xl) var(--space-4xl);
  margin-top: 0;
  margin-bottom: var(--space-3xl);
  column-gap: var(--space-4xl);
}

@media (max-width: 1068px) {
  .c-profile-box {
    column-gap: 0;
  }

  .c-profile-box > .l-grid-item {
    grid-column: 1 / -1;
  }
}

.c-profile-box__card {
  box-shadow: 2.2px 2px 24px 0 rgba(0, 0, 0, 0.89);
}

.c-profile-box__card__background {
  background-color: var(--c-black-500);
  min-height: 150px;
}

.c-profile-box__card__background img {
  width: 100%;
  object-fit: cover;
  max-height: 150px;
}

.c-profile-box__card__meta {
  margin-top: calc(var(--space-3xl) * -1);
  margin-left: var(--space-lg);
}

.c-profile-box__heading h2 {
  font-weight: 400;
  line-height: 1.91;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #656a79;
}

@media (max-width: 1068px) {
  .c-profile-box__card {
    margin-bottom: var(--space-lg);
  }
}

.c-profile-box__card__data {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-top: var(--space-md);
  padding-bottom: var(--space-lg);
}

.c-profile-box__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

@media (max-width: 1068px) {
  .c-profile-box__form {
    gap: var(--space-md);
  }
}

.c-profile-box input[type='file'] {
  background: var(--c-purple-500);
  color: var(--c-white);
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.c-profile-box #bio {
  height: 135px;
}

.c-profile-box__button {
  padding-left: var(--space-2xl);
  position: relative;
}

.c-profile-box__button::after {
  position: absolute;
  left: var(--space-md);
  content: ' ';
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
}

.c-profile-box__avatar {
  margin-bottom: var(--space-md);
}

.c-profile-box__avatar .c-profile-box__button::after {
  background-image: url('/assets/icons/user.svg');
}

.c-profile-box__background {
  margin-bottom: var(--space-md);
}

.c-profile-box__background .c-profile-box__button::after {
  background-image: url('/assets/icons/folder.svg');
}

.c-profile-box .c-button {
  text-align: left;
}

.c-profile-box__buttons {
  padding-right: var(--space-2xl);
  padding-left: var(--space-2xl);
}

.c-profile-success__content {
  margin-bottom: var(--space-4xl);
}

.c-profile-success__title {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-3xl);
}

.c-profile-success__sub-title {
  font-size: var(--font-size-2xl);
}

.c-profile-success__buttons {
  display: flex;
  justify-content: center;
  margin-right: var(--space-xl);
  margin-bottom: var(--space-4xl);
  margin-left: var(--space-xl);
}
.c-profile-success__buttons .c-button {
  max-width: 550px;
}

@media all and (max-width: 768px) {
  .c-profile-success__buttons {
    margin-right: 0;
    margin-left: 0;
  }
}

.c-profile-box__buttons .c-button {
  font-size: var(--font-size-lg);
}

@media all and (max-width: 768px) {
  .c-profile-box__buttons .c-button {
    font-size: var(--font-size-md);
  }
}

.c-profile-success__buttons .c-button {
  font-size: var(--font-size-lg);
}

@media all and (max-width: 768px) {
  .c-profile-success__buttons .c-button {
    font-size: var(--font-size-md);
  }
}
