:root {
  /* ***** Colors ***** */
  --c-purple-300: #8c8dff;
  --c-purple-500: #6364ff;

  /* ** util colors ** */
  --c-white: #ffffff;
  --c-black-200: #191b22;
  --c-black-300: #12141c;
  --c-black-500: #0b0c15;
  --c-black-600: #373a43;
  --c-gray: #191b22;

  /* ** theme colors ** */
  --c-primary: var(--c-purple-500);
  --c-secondary: var(--c-purple-300);

  /* ** tier 2 colors ** */
  --body-color: var(--c-white);
  --heading-color: var(--c-white);
  --link-color: var(--c-purple-300);
  --primary-background: var(--c-black-300);
  --secondary-background: var(--c-black-500);

  /* ***** Font/Typography ***** */
  --font-primary: 'Manrope', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell';

  /* ** font weight ** */
  --font-semibold: 600;
  --font-extrabold: 800;
  --font-normal: 400;

  /* ** Font size ** */
  --font-size-xs: calc(var(--font-size) * 0.5); /* 8px */
  --font-size-sm: calc(var(--font-size) * 0.75); /* 12px */
  --font-size: 1rem; /* 16px */
  --font-size-lg: calc(var(--font-size) * 1.25); /* 20px */
  --font-size-xl: calc(var(--font-size) * 1.5); /* 24px */
  --font-size-2xl: calc(var(--font-size) * 1.75); /* 28px */
  --font-size-3xl: calc(var(--font-size) * 2); /* 32px */
  --font-size-4xl: calc(var(--font-size) * 2.25); /* 36px */
  --font-size-5xl: calc(var(--font-size) * 3); /* 48px */
  --font-size-6xl: calc(var(--font-size) * 3.75); /* 60px */
  --font-size-7xl: calc(var(--font-size) * 4.25); /* 68px */

  /* ***** Spacing ***** */
  --space-xs: calc(var(--space) * 0.25); /* 4px */
  --space-sm: calc(var(--space) * 0.5); /* 8px */
  --space-md: calc(var(--space) * 0.75); /* 12px */
  --space: 1rem; /* 16px */
  --space-lg: calc(var(--space) * 1.25); /* 20px */
  --space-xl: calc(var(--space) * 2); /* 32px */
  --space-2xl: calc(var(--space) * 2.5); /* 40px */
  --space-3xl: calc(var(--space) * 3); /* 48px */
  --space-4xl: calc(var(--space) * 4); /* 64px */
  --space-5xl: calc(var(--space) * 5); /* 80px */

  --grid-gap: var(--space-lg);

  --border-radius--sm: var(--space-xs);
  --border-radius: var(--space-md);
  --border-radius--lg: var(--space);
  --max-width: 1280px;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
