/* Base */
@import url('./_variables.css');
@import url('./_reset.css');
@import url('./_fonts.css');
@import url('./_utils.css');

/* Molecules */
@import url('./molecules/button.css');
@import url('./molecules/card.css');

@import url('./layout/grid.css');
@import url('./layout/gridItem.css');

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  background: var(--primary-background);
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

main {
  max-width: 1440px;
  padding: 0 50px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3.7rem;
  font-weight: 700;
  margin: 1.5rem 0;
  line-height: 4.3rem;
}

p {
  font-size: 1.4rem;
}

input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--foreground-rgb), 0.2);
  background: #eee;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  transition: all 0.2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  input {
    color: #222;
  }
}

form div {
  margin-top: 15px;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}

.c-agreement input {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.c-agreement label {
  display: block;
  margin-bottom: 6px;
}

.c-agreement span {
  font-size: 0.8rem;
  color: #666;
  display: block;
}

h2 {
  margin-top: 30px;
}

ul {
  margin: 20px;
}

li {
  margin: 5px 0;
}

.card__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space);
}

/* Footer */
footer p {
  font-size: .8rem;
}

/* Container */
.c-container {
  height: 100vh;
  display: grid;
  align-content: space-around;
}

/* Logo */
.c-logo {
  width: 541px;
  height: auto;
}