.c-authenticate-form {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-2xl);
}

.c-grid__signup-success .c-authenticate-form {
  margin-bottom: 0;
}

.c-button__auth {
  margin-top: var(--space-xl);
}

.c-enhance__auth {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.c-grid__auth-form__input {
  position: relative;
}

.c-grid__auth-form__input input {
  margin-left: 62px;
  width: calc(100% - 62px);
}

.c-grid__auth-form__input span {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}
