/* Card */

.c-card__container {
  padding: var(--space-lg) 0;
  justify-items: center;
}

.c-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-xl);
  border-radius: var(--border-radius);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.c-card--active {
  background-color: var(--c-primary);
}

.c-card--active:hover {
  filter: brightness(85%);
}

.c-card .c-tooltip__label,
.c-card .c-icon__image {
  transition: all 0.2s ease-in-out;
}

.c-card--active .c-tooltip__label {
  color: var(--c-white);
}

.c-card--active .c-icon__image {
  filter: brightness(0) invert(1);
}

.c-card--left {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.c-card--left .c-card__content {
  justify-content: flex-start;
  align-items: flex-start;
}

.c-card--small {
  padding: var(--space);
}

.c-card--small .c-card__content {
  padding: var(--space) 0;
  gap: var(--space-sm);
}

.c-card--basic {
  border: 2px solid var(--c-gray);
  border-radius: 0;

  justify-content: center;
  padding-top: var(--space-4xl);
  padding-bottom: var(--space-4xl);
}

.c-card__title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-bold);
  line-height: 1.2;
}

.c-card--basic:focus-within,
.c-card--basic:hover {
  border: 2px solid var(--c-primary);
}

.c-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
  padding: 0 43px;
}

.c-card.c-card--large {
  max-width: 1000px;
  padding: var(--space-2xl);
}

.c-card__link {
  transition: color 0.2s ease-in-out;
  font-size: var(--font-size-xl);
  line-height: 1.2;
}

.c-card__link-icon {
  display: inline-block;
  padding-top: var(--space-xs);
  position: absolute;
}

.c-card--basic:focus-within .c-card__link,
.c-card--basic:hover .c-card__link {
  color: var(--c-secondary);
}

.c-card.c-card--large .c-card__title {
  font-size: var(--font-size-4xl);
}

.c-card.c-card--large .c-card__content {
  width: 100%;
  padding: 0;
}

.c-card.c-card--large .c-button {
  font-size: var(--font-size-xl);
  font-weight: var(--font-normal);
  max-width: 336px;
}

.c-card--share p {
  font-size: var(--font-size-xl);
}

.share-block {
  display: block;
  margin-top: var(--space-lg);
}
