/* Signup Form */

.c-form__signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-xl);
}

.c-form__signup .c-button {
  font-size: var(--font-size-lg);
}

@media all and (max-width: 768px) {
  .c-form__signup .c-button {
    font-size: var(--font-size-md);
  }
}

.c-form__signup > * {
  width: 100%;
}

.c-agreement input {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.c-agreement a {
  color: var(--c-purple-300);
  transition: all 0.2s ease-in-out;
}

.c-agreement a:hover {
  color: var(--c-purple-500);
}

.c-signup-form__input--error {
  border-color: var(--c-error);
  border-width: 2px;
}

.c-signup-form__input--with-float {
  position: relative;
}

.c-signup-form__input--with-float .label_input__append {
  position: absolute;
  right: var(--space-sm);
  top: 50%;
  transform: translateY(-50%);
  color: #222;
  opacity: 0.7;
}

.c-signup-form__input--with-float .c-input-error ~ .label_input__append {
  top: 70%;
}

.c-field-note {
  display: block;
  margin-top: var(--space-xs);
  font-size: var(--font-size);
  margin-bottom: calc(var(--space-sm) * -1);
}

.c-signup-success__content {
  margin-bottom: var(--space-xl);
}

.c-signup-success__title {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-lg);
}

.c-signup-success__sub-title {
  font-size: var(--font-size-2xl);
}

.c-signup-success__buttons {
  margin-right: var(--space-xl);
  margin-bottom: var(--space-4xl);
  margin-left: var(--space-xl);
}

@media all and (max-width: 768px) {
  .c-signup-success__buttons {
    margin-right: 0;
    margin-left: 0;
  }
}

.c-signup-success__buttons .c-button {
  font-size: var(--font-size-lg);
}

@media all and (max-width: 768px) {
  .c-signup-success__buttons .c-button {
    font-size: var(--font-size-md);
  }
}

.c-error {
  color: var(--c-error);
}

.c-input-error {
}
