.tag-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-lg);
  border: solid 4px #191b22;
  transition: border 0.2s ease-in-out;
}

.tag-group:focus-within,
.tag-group:hover {
  border: 4px solid var(--c-primary);
}

.tag-group__category {
  padding-top: var(--space-lg);
  margin-left: var(--space-lg);
  font-weight: var(--font-normal);
}

.tag-group__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-2xl);
  border-left: solid 4px #191b22;
  transition: border-color 0.2s ease-in-out;
  flex-shrink: 0;
}

.tag-group:focus-within .tag-group__input,
.tag-group:hover .tag-group__input {
  border-color: var(--c-primary);
}
