.c-tooltip {
  position: relative;
  cursor: help;
  color: var(--c-primary);
  display: inline-flex;
  gap: var(--space-sm);
}

.c-tooltip__label {
  font-weight: var(--font-semibold);
}

.c-tooltip__box {
  position: absolute;
  color: var(--c-white);
  background-color: var(--primary-background);
  padding: var(--space-md);
  top: calc(100% + 2px);
  left: 50%;
  border-radius: var(--border-radius);
  min-width: 400px;
  transform: translateX(-50%);
  font-size: var(--font-size-lg);
  z-index: 101;
  box-shadow: 0 0 51.1px 18.9px rgba(11, 12, 16, 0.7);
}

@media all and (max-width: 578px) {
  .c-tooltip__box {
    min-width: 250px;
  }
}

.c-tooltip__box:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--primary-background);
}
